:root {
    --width: 91.7%
}

.section__provider {
    width: calc(var(--width) - 58px);
    padding: 19px 29px;
    background-color: #fff;
    border-radius: 20px;
    margin: 0 auto;
}

.section__provider .title {
    font-family: Poppins, sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 50px;
}

.section__provider .provider__container {
    display: grid;
    grid-template-columns: 400px 400px;
    gap: 50px;
    margin: 0 auto;
    width: 850px;
}

.section__provider .provider__container .provider {
    width: 400px;
    height: 400px;
    border: 1px solid #a09f9f;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section__provider .provider__container .provider h2 {
    font-size: 24px;
    font-family: Poppins;
    font-weight: 300;
    margin-bottom: 20px;
    border-bottom: 1px solid #000;
    line-height: 28px;
}

.section__provider .provider__container .provider h3 {
    border-bottom: 1px solid #000;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 300;
    margin: 10px 0;
}

.section__provider .provider__container .provider a {
    color: #1b9edb;
    text-decoration: underline;
    font-family: Poppins;
    font-weight: 300;
    font-size: 18px;
}